In [1]:
import pandas as pd
import plotly.express as px  # (version 4.7.0)
import plotly.graph_objects as go
import dash  # (version 1.12.0) pip install dash
import dash_core_components as dcc
import dash_html_components as html
from dash.dependencies import Input, Output
import seaborn as sns 
import matplotlib.pyplot as plt
from glob import glob
from functools import reduce
from datetime import datetime
import os
import geopandas as gpd
import json
import numpy as np
import plotly.express as px
from flask import Flask
import dash_table


import plotly.io as pio
pio.renderers.default = 'browser'

In [2]:
#yearly = pd.read_csv("yearly.csv")
df = pd.read_csv("districts.csv")
df1 = df.copy()
df1.insert(1, "Country", 'India', True)
df1 = df1.groupby(["Date", 'Country'])["Confirmed", 'Recovered', 'Deceased'].sum().reset_index()
df2 = df.groupby(["Date", 'State'])["Confirmed", "Recovered", "Deceased"].sum().reset_index()
df2

<ipython-input-2-ca33614d781c>:5: FutureWarning:

Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

<ipython-input-2-ca33614d781c>:6: FutureWarning:

Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

             Date                        State  Confirmed  Recovered  Deceased
0      2020-04-26  Andaman and Nicobar Islands         33         11         0
1      2020-04-26               Andhra Pradesh       1097        231        31
2      2020-04-26            Arunachal Pradesh          1          1         0
3      2020-04-26                        Assam         36         27         1
4      2020-04-26                        Bihar        277         56         2
...           ...                          ...        ...        ...       ...
13080  2021-05-02                    Telangana     450790     367727      2368
13081  2021-05-02                      Tripura      35586      33663       395
13082  2021-05-02                Uttar Pradesh    1313361    1004447     13162
13083  2021-05-02                  Uttarakhand     191620     131144      2802
13084  2021-05-02                  West Bengal     863393     733359     11539

[13085 rows x 5 columns]

In [3]:
app = dash.Dash(__name__)

# ------------------------------------------------------------------------------
# Import and clean data (importing csv into pandas)
df = pd.read_csv("districts.csv")

#creating df for each state for choropleth plot
def generate_states(df, state):
    india_states = json.load(open(state.lower()+"_district.json", "r"))

    state_id_map = {}
    for feature in india_states["features"]:
        feature["id"] = feature["properties"]["dt_cen_cd"]
        state_id_map[feature["properties"]["district"]] = feature["id"]
    
    if(state == 'Tamil Nadu'):
        df.loc[df.District == "Tenkasi", "District"] = "Tirunelveli"
        df.loc[df.District == "Ranipet", "District"] = "Vellore"
        df.loc[df.District == "Tirupathur", "District"] = "Vellore"
        df.loc[df.District == "Chengalpattu", "District"] = "Kancheepuram"
        df.loc[df.District == "Kallakurichi", "District"] = "Viluppuram"
    
    df5 = df.copy()
    df5 = df5.loc[df["State"] == state]
    df5 = df5.sort_values(by="Date")
    df5 = df5.drop_duplicates(subset = ['District'],keep = 'last')
    df5 =df5.drop(['Tested', 'Other'], axis= 1)
    df5 = df5.reset_index(drop=True)

    geo_df = pd.DataFrame(data=[st['properties']['district'] for st in india_states['features']], columns=['State Names in GeoJSON'])
    data_df = pd.DataFrame(df5["District"].unique(), columns=['State Names in DATA'])
    compare = geo_df.merge(data_df,
                 how='outer',
                 left_on='State Names in GeoJSON',
                 right_on='State Names in DATA')

    compare[["State Names in GeoJSON", "State Names in DATA"]] = compare[["State Names in GeoJSON", "State Names in DATA"]].fillna("")
    df5 = df5.loc[~((df5["District"] == "Other State") | (df5["District"] == "Unknown") | (df5['District'] == 'Foreign Evacuees') | 
                    (df5["District"] == "Railway Quarantine") | (df5["District"] == "Airport Quarantine"))] 
    df5 = df5.reset_index(drop = True)

    df5['id'] = df5["District"].apply(lambda x: state_id_map[x])
    print(df5.shape)
    return df5, india_states

In [4]:
df_dup = generate_states(df,'Tamil Nadu')
df_dup[0]

(32, 7)

,Date,State,District,Confirmed,Recovered,Deceased,id
0,2021-05-02,Tamil Nadu,Thanjavur,26285,23757,307,19
1,2021-05-02,Tamil Nadu,Sivaganga,8801,7903,134,21
2,2021-05-02,Tamil Nadu,Ramanathapuram,8799,7422,146,25
3,2021-05-02,Tamil Nadu,Salem,42555,38538,546,7
4,2021-05-02,Tamil Nadu,Theni,20951,18794,217,23
5,2021-05-02,Tamil Nadu,Thiruvarur,15576,14347,123,18
6,2021-05-02,Tamil Nadu,Thoothukkudi,24728,20545,156,26
7,2021-05-02,Tamil Nadu,Tiruchirappalli,24405,20988,224,13
8,2021-05-02,Tamil Nadu,Tirunelveli,26002,20803,243,27
9,2021-05-02,Tamil Nadu,Vellore,10371,9123,151,4
10,2021-05-02,Tamil Nadu,Tiruppur,27230,23855,241,32
11,2021-05-02,Tamil Nadu,Tiruvannamalai,24210,22289,306,5
12,2021-05-02,Tamil Nadu,Pudukkottai,14047,12987,163,20
13,2021-05-02,Tamil Nadu,Thiruvallur,61385,55036,815,1
14,2021-05-02,Tamil Nadu,Perambalur,2702,2462,27,14
15,2021-05-02,Tamil Nadu,Nilgiris,9996,9529,51,10
16,2021-05-02,Tamil Nadu,Viluppuram,19642,17370,123,6
17,2021-05-02,Tamil Nadu,Ariyalur,5696,5295,53,15
18,2021-05-02,Tamil Nadu,Chennai,345966,309233,4817,2
19,2021-05-02,Tamil Nadu,Coimbatore,81118,72709,726,31
20,2021-05-02,Tamil Nadu,Cuddalore,30844,28695,329,16
21,2021-05-02,Tamil Nadu,Dharmapuri,9838,8518,67,29
22,2021-05-02,Tamil Nadu,Dindigul,16281,14469,214,11
23,2021-05-02,Tamil Nadu,Erode,22165,18675,167,9
24,2021-05-02,Tamil Nadu,Kancheepuram,38822,35543,554,3
25,2021-05-02,Tamil Nadu,Kanyakumari,22210,20144,312,28
26,2021-05-02,Tamil Nadu,Karur,7983,6859,59,12
27,2021-05-02,Tamil Nadu,Krishnagiri,15448,12106,131,30
28,2021-05-02,Tamil Nadu,Madurai,32398,27392,524,22
29,2021-05-02,Tamil Nadu,Nagapattinam,13819,11999,170,17
30,2021-05-02,Tamil Nadu,Namakkal,16549,14492,124,8
31,2021-05-02,Tamil Nadu,Virudhunagar,20581,18560,243,24

In [5]:
# df of india for plot
plot_df = df.copy()
plot_df = plot_df.drop_duplicates(subset = ['District','State'],keep ='last')
plot_df =plot_df.drop(['District','Date'], axis= 1)
plot_df = plot_df.groupby('State').sum().reset_index()
plot_df = plot_df.loc[plot_df['State']!='Ladakh']

In [6]:
plot_df

,State,Confirmed,Recovered,Deceased,Other,Tested
0,Andaman and Nicobar Islands,6084,5798,69,0,370896.0
1,Andhra Pradesh,1145022,993708,8136,0,9788047.0
2,Arunachal Pradesh,18739,17273,59,0,398545.0
3,Assam,258961,231703,1360,1347,8682755.0
4,Bihar,497640,384955,2739,1,17107895.0
5,Chandigarh,44306,36218,496,0,412497.0
6,Chhattisgarh,756427,627051,9009,0,338344.0
7,Dadra and Nagar Haveli and Daman and Diu,8026,6075,4,32,72410.0
8,Delhi,1194946,1085690,16966,0,17303562.0
9,Goa,95385,69504,1274,0,663507.0
10,Gujarat,594602,440276,7508,0,10900176.0
11,Haryana,514888,405132,4486,0,3948145.0
12,Himachal Pradesh,104491,82148,1556,57,481328.0
13,Jammu and Kashmir,183486,148695,2370,0,139552.0
14,Jharkhand,244472,183009,2944,0,233773.0
15,Karnataka,1601865,1164398,16011,20,9791334.0
16,Kerala,1638779,1293590,5406,345,3875002.0
18,Lakshadweep,3010,1746,4,13,80697.0
19,Madhya Pradesh,588368,495367,5812,0,3384824.0
20,Maharashtra,4722401,3981658,70284,2106,8421643.0
21,Manipur,32161,29923,415,0,618926.0
22,Meghalaya,17429,15429,179,0,0.0
23,Mizoram,6284,5046,15,0,0.0
24,Nagaland,14350,12295,109,417,116359.0
25,Odisha,462622,397575,2121,0,2774807.0
26,Puducherry,61361,49908,833,0,567923.0
27,Punjab,385270,315845,9317,0,2938477.0
28,Rajasthan,633951,440215,4558,0,5852578.0
29,Sikkim,8441,6304,149,180,95254.0
30,Tamil Nadu,1067336,948590,12712,0,4263424.0
31,Telangana,450790,367727,2368,0,13060114.0
32,Tripura,35586,33663,395,23,607962.0
33,Uttar Pradesh,1313361,1004447,13162,0,23724581.0
34,Uttarakhand,191620,131144,2802,4062,2127358.0
35,West Bengal,863393,733359,11539,0,0.0

In [7]:
# ------------------------------------------------------------------------------
# App layout
list_states = df['State'].drop_duplicates().tolist()
list_states.append('India')
dist_l = ['Bengaluru Urban','Chennai','Mumbai','Thiruvananthapuram','Delhi']
#print(list_states)
app.layout = html.Div([
    html.H1("Probabilistic Models for Predicting COVID-19 Pandemic Spread", style={'text-align': 'center','color' : 'white'}),
    html.Br(),
    html.Br(),
    html.H2("Cases in India", style={'text-align': 'left','color' : 'white'}),
    dcc.Dropdown(id="slct_year",
                 options=[
                     {"label": state , "value": state} for state in list_states],
                 multi=False,
                 value='India',
                 style={'width': "40%",'color':'black'},
                 #inputStyle = {'width' : '40%' , 'background-color': 'black','color':'white'}
    ),
    dcc.RadioItems(id = 'radio',
    options=[
        {'label': 'Confirmed', 'value': 'Confirmed'},
        {'label': 'Recovered', 'value': 'Recovered'},
        {'label': 'Deceased', 'value': 'Deceased'}
    ],
    value='Confirmed',
    style = {'margin-left' : '150px', 'padding' : '30px'},
    inputStyle={"margin-right": "20px"}),
    dcc.Checklist(id = "check",
    options=[
        {'label': 'Confirmed Cases', 'value': 'Confirmed'},
        {'label': 'Recovered Cases', 'value': 'Recovered'},
        {'label': 'Deceased', 'value': 'Deceased'}
    ],
    value = ['Confirmed'],
    style = {'margin-left' : '150px'},
    inputStyle={"margin-right": "20px"}
  ),
        
    html.Br(),
    html.Br(),
#     html.Div(id='output_container', children=[]),
    dcc.Graph(id='my_bee_map', figure={}),
    
    html.Br(),
    html.Br(),
    html.Br(),
    
    html.H2("Cases till May 2nd 2021", style={'text-align': 'left','color' : 'white'}),
    html.Br(),
    html.Br(),

    html.Div(dcc.Dropdown(id="drop_cases",
                 options=[
                     {'label': 'Confirmed', 'value': 'Confirmed'},
                     {'label': 'Recovered', 'value': 'Recovered'},
                     {'label': 'Deceased', 'value': 'Deceased'}
                 ],
                 value='Confirmed',
                 style={'width': "40%",'color':'black'},
                 #inputStyle = {'width' : '40%' , 'background-color': 'black','color':'white'}
    ), style={'width': '49%', 'display': 'inline-block'}
            ), 

    html.Div(dcc.Dropdown(id="states",
                 options=[
                     {"label": state , "value": state} for state in list_states],
                 multi=False,
                 value='India',
                 style={'width': "40%",'color':'black'},
                 #inputStyle = {'width' : '40%' , 'background-color': 'black','color':'white'}
    ), style={'width': '49%', 'display': 'inline-block'}
            ),
    
    html.Br(),
    html.Br(),
    
    dcc.Graph(id="line_chart"),
    html.Br(),
    html.Br(),
    
    html.H2("Probabilistic Models", style={'text-align': 'left','color' : 'white'}),
    html.Br(),
    html.Br(),
    html.Div(dcc.Dropdown(id="drop_models",
                 options=[
                     {'label': 'Piecewise Linear Regression', 'value': 'PLR'},
                     {'label': 'Exponential Smoothing', 'value': 'SES'},
                     {'label': 'Hierarchical Bayesian Model', 'value': 'HBM'},
                     {'label': 'XGBoost', 'value': 'XG'}

                 ],
                 value='PLR',
                 style={'width': "40%",'color':'black'},
                 #inputStyle = {'width' : '40%' , 'background-color': 'black','color':'white'}
    ), style={'width': '49%', 'display': 'inline-block'}
            ),

    
    html.Div(dcc.Dropdown(id="dist_slct",
                 options=[
                     {'label': 'Bengaluru Urban', 'value': 'ben'},
                     {'label': 'Delhi', 'value': 'del'},
                     {'label': 'Thiruvananthapuram', 'value': 'th'},
                     {'label': 'Mumbai', 'value': 'mu'},
                     {'label': 'Chennai', 'value': 'ch'}
                 ],
                 multi=False,
                 value='ben',
                 style={'width': "40%",'color':'black'},
                 #inputStyle = {'width' : '40%' , 'background-color': 'black','color':'white'}
    ), style={'width': '49%', 'display': 'inline-block'}
            ),
    
    html.Br(),
    html.Br(),
    html.Div(id="table1", style={'width': '100%', 'display': 'inline-block'}),


    html.Div(dcc.Graph(id="acc_pred"), style={'width': '100%'})
    
   
    
    #html.Div(dcc.Graph(figure=fig))
],style = {'background-color' : 'black','color' : 'white'})

In [8]:
@app.callback(
#     [Output(component_id='output_container', component_property='children')
     Output(component_id='my_bee_map', component_property='figure'),
    [Input(component_id='slct_year', component_property='value'),
     Input(component_id='radio', component_property='value'),
     Input(component_id='check', component_property='value')]
)
def update_graph(option_slctd, option, option_list):
    
        
    if(option_slctd == 'India'):
        india_states = json.load(open("states_india_copy.json", "r"))
        state_id_map = {}
        for feature in india_states["features"]:
            feature["id"] = feature["properties"]["state_code"]
            state_id_map[feature["properties"]["st_nm"]] = feature["id"]
        
        plot_df['id'] = plot_df["State"].apply(lambda x: state_id_map[x])
        
        color = ''
        if(option == 'Confirmed'):
            color = px.colors.sequential.Blues
        elif(option == 'Recovered'):
            color = px.colors.sequential.Greens
        else:
            color = px.colors.sequential.YlOrRd
        fig = px.choropleth(
        plot_df,
        locations="id",
        geojson=india_states,
        color=option,
        hover_name="State",
        hover_data=option_list,
        color_continuous_scale= color,
        title=option_slctd,
        template='plotly_dark'
        )
        fig.update_geos(fitbounds="locations", visible=False)
        fig.update_layout(height=750, title_x = 0.44)
        
        return fig
    
    print(option_slctd)
    print(type(option_slctd))
    
    print(option)
    print(type(option))
    #hov = option
    

    dff = generate_states(df,option_slctd)
    #dff = dff[dff["State"] == option_slctd]
    
    if(option == "Confirmed"):
        fig = px.choropleth(
        dff[0],
        locations="id",
        geojson=dff[1],
        color=option,
        hover_name="District",
        hover_data= option_list,
        color_continuous_scale=px.colors.sequential.Blues,
        title=option_slctd,
        template='plotly_dark',
        #width = 10,
        #height = 10
        )
        fig.update_geos(fitbounds="locations", visible=False)
        fig.update_layout(height=750, title_x = 0.44)
        return fig

    #color = px.color.sequential()
    if(option == 'Recovered'):
        fig = px.choropleth(
        dff[0],
        locations="id",
        geojson=dff[1],
        color=option,
        hover_name="District",
        hover_data= option_list,
        color_continuous_scale=px.colors.sequential.Greens,
        title=option_slctd,
        template='plotly_dark',
        #width = 10,
        #height = 10
        )
        fig.update_geos(fitbounds="locations", visible=False)
        fig.update_layout(height=750, title_x = 0.44)
        return fig
    
    if(option == 'Deceased'):
        fig = px.choropleth(
        dff[0],
        locations="id",
        geojson=dff[1],
        color=option,
        hover_name="District",
        hover_data= option_list,
        color_continuous_scale=px.colors.sequential.YlOrRd,
        title=option_slctd,
        template='plotly_dark',
        #width = 10,
        #height = 10
        )
        fig.update_geos(fitbounds="locations", visible=False)
        fig.update_layout(height=750, title_x = 0.44)
        return fig

    
@app.callback(
    Output(component_id='line_chart', component_property='figure'),
    [Input(component_id='drop_cases', component_property='value'),
     Input(component_id='states', component_property='value')]
)
def update_line_chart(dropdown, states_select):
    if(states_select == 'India'):
        fig1 = px.line(data_frame = df1, x="Date", y=dropdown, template = 'plotly_dark')
    
    else:
#         df2 = df2.loc[df2['State'] == states_select]
        fig1 = px.line(data_frame = df2.loc[df2['State'] == states_select], x="Date", y=dropdown, template = 'plotly_dark')
    
    return fig1

@app.callback(
    [Output(component_id = 'acc_pred', component_property = 'figure'),
    Output('table1', 'children')],
    [Input('drop_models', 'value')
    ,Input('dist_slct', 'value')]
)
def df_acc_pred(models_drop, select_dist):
    
    dfgf = pd.read_csv(models_drop.lower() + "_" + select_dist.lower() + ".csv")
        #+ "_" + select_dist.lower()

    #dfgf = pd.DataFrame(dfgf)
    
    fig2 = px.line(data_frame = dfgf, x="Date", y=dfgf.columns[2:4], template = 'plotly_dark')

    return fig2, html.Div([dash_table.DataTable(
            data= dfgf.to_dict('records'),
            columns=[{"name": i, "id": i} for i in dfgf.columns],
            page_action='none',
            fixed_rows={'headers': True},
            style_table={'height': '300px', 'width': '100%', 'overflowY': 'auto'},
            style_header={'backgroundColor': 'rgb(30, 30, 30)'},
            style_cell={
                'minWidth': '180px', 'width': '100px', 'maxWidth': '180px',
                'backgroundColor': 'rgb(50, 50, 50)',
                'color': 'white'
            }
        )]
                         )

In [ ]:
if __name__ == '__main__':
    from werkzeug.serving import run_simple
    app.run_server(debug=True, use_reloader=False)

Dash is running on http://127.0.0.1:8050/

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: on